/* Basic */
html, body {min-height: 100%;}

body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background: #E7ECEF;
    background: url(images/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #333745;
    font-size: 16px;
    line-height: 24px;}

#wrap { 
    margin: 40px auto;
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;}

/* Navigation Styling */
#nav {
    background: #E7ECEF;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;}
    
    #nav ul { margin: 0; padding: 0; list-style-type: none;}
    #nav li { display: inline; padding: 0 20px 0 0}
    #nav li a { text-decoration: none;}

a { color: #F05D5E; }
a:hover { color: #333745; }

/* Header Styles */
#header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f9f9f9;
    padding: 20px 0 15px 0;}
#header h1 {
    margin: 0;
    padding: 0 0 0 30px;
    font-weight: bold;
    color: #333745;
    font-size: 38px;
    line-height: 65px;
    letter-spacing: -1px;}
#header h2 {
    border-radius: 10px;
    margin: 0 0 0 20px; 
    padding: 5px 12px;
    font-weight: normal;
    color: #171717;
    font-size: 22px;
    letter-spacing: -1px;
    background: #FFEE9F;
    border: 1px solid #FFE25F;
    display: inline;}

/* Footer Styling */
#footer { 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #333745;
    color: #fff;
    padding: 20px;
    border-top: 1px solid #333745;}
    
    #footer a { color: #fff; text-decoration: none; }
    #footer a:hover { border-bottom: 1px solid #ccc; }

/* Content Body Styling */
#content { 
    float: left; 
    width: 90%; 
    margin: 10px 20px 40px 20px;}
#content h2 { 
    font-weight: normal; 
    font-size: 22px; 
    line-height: 33px; }
#content h3 { 
    font-size: 17px; 
    font-weight: normal; }

/* Subject Column Style */
.column { 
    float: left; 
    width: 27%; 
    height: 500px; 
    margin: 10px 8px; 
    text-align: center;
    background-color: #2A9D8F; 
    color: #E7ECEF; 
    padding: 20px;}
.column a { 
    color: #E7ECEF;}
.column a:hover { 
    color: #333745;}
.left { float: left;}
.right { float: right;}
.clear { clear: both;}

/* Form Styling */
input[type=text], input[type=email], select, textarea {
    width: 70%;
    font-size: medium;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical}
input:focus, textarea:focus {
    background-color: #E7ECEF;
    background-image: none;
    color: rgb(0, 0, 0);}
input[type=submit], input[type=reset] {
    background: #E7ECEF;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;}
input[type=submit]:hover, input[type=reset]:hover {
    background-color: #F2E9DC;}
