* {
	font-family: Arial, Verdana, sans-serif;
	text-align: center;}

body {
    background-image: url("https://cdn.pixabay.com/photo/2015/05/05/09/42/paper-753508_1280.jpg");
    background-color: #E7E8E4;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    color: #665544;}

#content {
	overflow: auto;}

#nav, #feature, #footer {
	margin: 1%;
    padding: 0.5em 0;
    color: #FFFFFF;}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;}

.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;}
li {
    display: inline;
    padding: 0.5em;}
a {
    color: #FFFFFF;}
img {
    vertical-align: middle;
    margin: 10px;}
p {
    margin: 2px;
    padding: 5px;}
    
/* Background Color For Each Section */
#nav {
    background-color: #124559;}
#feature {
    background-color: #598392;
    color: #FFFFFF;}
.column1 {
    background-color: #EFD0CA;}
.column2 {
    background-color: #AEC3B0;}
.column3 {
    background-color: #F1F7ED;
    margin-right: 0%;}
#footer {
    background-color: #022B3B;}

/* Change Logo Font */
h1 {
    font-family: 'JelleeBold'; 
    font-weight: normal; 
    font-style: normal; }
