body {
    background-image:url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }

#title {

    padding:15px;
    margin: 50px 0px 25px 0px;
    width:100%;
    background-color:#495C6B;
    color: #ffffff;
    text-align:center; 
    font-family: 'ComfortaaRegular'; 
    font-weight: normal; 
    font-style: normal; 
    font-size:36px;
   }

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(0px 2px 2px #546A7B);
    }

#container {
    margin-top:5%;
    margin-left:20%;
    margin-right:10%;
    margin-bottom:10%;
    }

.row{
    position:relative;
    margin-left:10%;
    margin-right:10%;
    }
    
.white{
    border: 1px solid #000000;
    width: 10%;
    height: 60px;
    background-color: #EFEEEB;
    float:left;
   }
        
.black{
    border: 1px solid #000000;
    width: 10%;
    height: 60px;
    background-color:#83A9B3;
    float:left;
    }
    
.clear{
    clear:both; 
    }

   footer {
    padding: 1px;
    margin: 5px;
    background-color: #495C6B;
    color: #ffffff;
  }
