html, body {
    min-height: 100%;}

body { 
    background: url(https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg);
    background-color: #495C6B;
    background-repeat: no-repeat;
    position: fixed;
    background-size: cover;}

#title {
    /* Header Position */
    position: absolute;
    z-index:10;
    top:0px;
    left:0px; 
    padding:15px;
    margin: 25px 0px 25px 0px;
    width:100%;
    background-color:#495C6B;

    /* Text Syle */
    text-align:center; 
    color: #ffffff;
    font-family: 'ComfortaaRegular'; 
    font-weight: normal; 
    font-style: normal; 
    font-size:36px;}

#container {
    margin-top:125px;
    margin-left:20%;
    margin-right:10%;
    margin-bottom:10%;}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: drop-shadow(0px 2px 2px #546A7B);}

.row {
    position:relative;
    margin-left:10%;
    margin-right:10%;}

/* White Blocks and Images */
.white{
    border: 1px solid #000000;
    width: 10%;
    height: 60px;
    background-color: #EFEEEB;
    float:left;
   }
 .white img { 
    width: 75%;
   }

/* Black Blocks and Images */ 
.black{
    border: 1px solid #000000;
    width: 10%;
    height: 60px;
    background-color:#83A9B3;
    float:left;
    }
.black img {
    width: 75%;
}

.clear{
    clear:both; 
    }

footer {
    width:100%;
    padding: 1px;
    margin: 2px 4px 0px 0px;
    background-color: #495C6B;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    left:0px; 
  }
