/* Basic */
body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background: #E7ECEF;
    background: url(../images/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #1b1b1e;
    font-size: medium;
    line-height: 24px;}

#wrap { 
    margin: auto;
    align-items: center;
    width: 940px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;}

/* Navigation Styling */
#nav {
    background: #E7ECEF;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;}
    
    #nav ul { margin: 0; padding: 0; list-style-type: none;}
    #nav li { display: inline; padding: 0 20px 0 0}
    #nav li a { text-decoration: none;}

/* Header Styles */
#header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #f9f9f9;
    padding: 20px 0 15px 0;}

#header h1 {
    margin: 0;
    padding: 0 0 0 30px;
    font-weight: bold;
    color: #333745;
    font-size: 38px;
    line-height: 65px;
    letter-spacing: -1px;}

/* Content Body Styling */
#content { 
    text-align: center;
    width: 900px; 
    margin: 10px 20px 40px 20px;}
#content h2 { 
    font-weight: normal; 
    font-size: 22px; 
    line-height: 33px; }
#content h3 { 
    font-size: 17px; 
    font-weight: normal; }

/* Subject Column Style */
.clear { clear: both;}

/* Footer Styling */
#footer { 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #333745;
    color: #fff;
    padding: 20px;
    border-top: 1px solid #333745;}
    
    #footer a { color: #fff; text-decoration: none; }
    #footer a:hover { border-bottom: 1px solid #ccc; }
